<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Helebears Authentication</title>
	<!-- Import Bootstrap CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Import fontawesome -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<!-- Import 'Roboto Slab' font from Google Fonts -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
	<!-- Import custom styling -->
	<link rel="stylesheet" type="text/css" href="/styles/auth.css">
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1>HeleBears</h1>

		<p>Create and maintain your course schedule. Tell your friends!</p>

		<a href="/login" class="button"><span class="fa fa-user"></span> Login</a>
		<a href="/signup" class="button"><span class="fa fa-user"></span> Sign Up</a>
		<a href="/auth/google" class="googlebutton btn btn-social btn-google"><span class="fa fa-google"></span> Google</a>

        <!--<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>-->
        <!--<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>-->
        <!--<a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>-->
        <!--<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>-->
        <!--<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>-->

	</div>

</div>
</body>s
</html>
