<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Helebears Authentication</title>
	<!-- Import Bootstrap CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- Import fontawesome -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<!-- Import 'Roboto Slab' font from Google Fonts -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
	<!-- Import custom styling -->
	<link rel="stylesheet" type="text/css" href="/styles/auth.css">
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1>HeleBears</h1>

		<p>Create and maintain your course schedule. Tell your friends!</p>

		<a href="/login" class="button"><span class="fa fa-user"></span> Login</a>
		<a href="/signup" class="button"><span class="fa fa-user"></span> Signup</a>
	</div>

</div>
</body>
</html>
