
.main-body {
	padding-right: 50px;
}

/* Schedule graphic */

.calendar {
	position: relative;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	height: 518px;
	width: calc(100% - 100px);
}

.calendar-axis-vertical {
	display: inline-block;
	position: absolute;
	text-align: right;
	top: 14px;
	height: 468px;
	font-size: 60%;
	line-height: 35px;
}

.calendar-col {
	position: relative;
	display: inline-block;
	background-color: #eeeeee;
	height: calc(100% - 32px);
	width: calc((100% - 40px) / 5);
	left: 34px;
	margin-right: -3px;
}

.calendar-col-header {
	text-align: center;
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-family: 'Roboto Slab' serif;
	color: #eeeeee;
	background-color: #00b85c;
}

.calendar-slot {
	border-bottom: 1px solid white;
	height: 34px;
}

.calendar-course {
	position: absolute;
	padding-left: 5px;
	width: calc(100% - 15px);
	left: 4px;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #3399ff;
	background-image: linear-gradient(#3399ff 16px, white 16px);
	background-image: -o-linear-gradient(#3399ff 16px, white 16px);
	background-image: -moz-linear-gradient(#3399ff 16px, white 16px);
	background-image: -webkit-linear-gradient(#3399ff 16px, white 16px);
	background-image: -ms-linear-gradient(#3399ff 16px, white 16px);
}

.calendar-course:hover {
	cursor: pointer;
	opacity: 0.6;
}

.calendar-course p {
	margin-top: 1px;
	margin-bottom: 2px;
	font-size: 60%;
}

.calendar-course .course-name {
	margin-top: 1px;
	margin-bottom: 3px;
	color: #eeeeee;
	font-size: 70%;
}

/* Results */

.results {
	height: 490px;
	padding-left: 80px;
	margin-right: 80px;
	overflow-y: scroll;
}

.results-entry {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 90%;
	padding: 12px;
	border: 1px solid #eeeeee;
	border-radius: 8px;
}

/* Results course entry */

.results-course {
	padding-top: 4px;
	background-image: linear-gradient(#3399ff 30px, white 30px);
	background-image: -o-linear-gradient(#3399ff 30px, white 30px);
	background-image: -moz-linear-gradient(#3399ff 30px, white 30px);
	background-image: -webkit-linear-gradient(#3399ff 30px, white 30px);
	background-image: -ms-linear-gradient(#3399ff 30px, white 30px);
}

.results-course div {
	font-size: 80%;
}

.results-course .course-name {
	color: #eeeeee;
	margin-bottom: 8px;
	font-size: 100%;
	font-family: 'Roboto Slab' serif;
}

.results-course .course-name:hover {
	cursor: pointer;
	color: #cccccc;
}

/* Results sections list */

.results-sections {
	border: 1px solid #eeeeee;
}

.results-sections-header {
	width: 100%;
	margin-bottom: 5px;
}

.results-sections-col {
	display: inline-block;
	width: calc(100% / 5 - 5px);
}

.results-sections-col-header {
	font-size: 80%;
}

.results-section {
	width: 90%;
	float: left;
	height: 30px;
	border: 1px solid green;
	border-radius: 3px;
}

.results-section:hover {
	background-color: #eeeeee;
}
