
#main-body {
	padding-top: 90px;
	padding-left: 20px;
	padding-right: 100px;
	font-family: 'Roboto' sans-serif;
}

#container-right {
	padding-left: 30px;
	width: calc(50% - 30px);
}

/* Calendar */

.calendar {
	margin-top: 10px;
	position: relative;
	float: left;
	margin-left: 50px;
	margin-right: 50px;
	height: 518px;
	width: calc(100% - 100px);
}

.calendar-axis {
	float: left;
	text-align: right;
	padding-top: 18px;
	font-size: 60%;
	line-height: 34px;
	width: 30px;
	padding-right: 8px;
}

.calendar-grid-column {
	display: inline-block;
	width: calc(20% - 10px);
	background-color: #eeeeee;
	border-right: 2px solid white;
}

.calendar-grid-column-header {
	width: 100%;
	line-height: 35px;
	text-align: center;
	font-family: 'Roboto Slab' serif;
	color: #eeeeee;
	background-color: #00b85c;
	cursor: default;
}

.calendar-grid-column-cell {
	width: 100%;
	height: 33px;
	border-bottom: 1px solid white;
}

.calendar-grid-column-courses {
	position: absolute;
	width: inherit;
	top: 36px;
}

.calendar-course {
	position: absolute;
	padding-left: 5px;
	width: 84%;
	left: 4%;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #3399ff;
	background-image: linear-gradient(#3399ff 14px, white 14px);
	background-image: -o-linear-gradient(#3399ff 14px, white 14px);
	background-image: -moz-linear-gradient(#3399ff 14px, white 14px);
	background-image: -webkit-linear-gradient(#3399ff 14px, white 14px);
	background-image: -ms-linear-gradient(#3399ff 14px, white 14px);
}

.calendar-course:hover {
	cursor: pointer;
	background-image: linear-gradient(#3399ff 14px, #eeeeee 14px);
	background-image: -o-linear-gradient(#3399ff 14px, #eeeeee 14px);
	background-image: -moz-linear-gradient(#3399ff 14px, #eeeeee 14px);
	background-image: -webkit-linear-gradient(#3399ff 14px, #eeeeee 14px);
	background-image: -ms-linear-gradient(#3399ff 14px, #eeeeee 14px);
}

.calendar-course-name {
	margin-top: 1px;
	margin-bottom: 3px;
	color: #eeeeee;
	font-size: 65%;
}

.calendar-course-room {
	margin-top: 1px;
	margin-bottom: 2px;
	font-size: 55%;
}

/* Search */

.search {
	padding-bottom: 10px;
}

.search-title {
	font-size: 100%;
}

.search fieldset select {
	margin-right: 5px;
	font-size: 80%;
}

.search-dept {
	width: 160px;
}

.search-course {
	width: 80px;
}

.search-submit {
	float: right;
	color: #eeeeee;
	background-color: #00b85c;
	font-family: 'Roboto Slab' serif;
	font-size: 90%;
}

/* Results */

.results {
	position: relative;
	left: -10px;
	overflow-y: scroll;
	height: 390px;
	width: 100%;
	font-size: 80%;
	padding-left: 10px;
	border-left: 1px solid #3399ff;
}

.results-course-lecture {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 12px;
	border: 1px solid #eeeeee;
	border-radius: 8px;
	padding-top: 6px;
	background-image: linear-gradient(#3399ff 30px, white 30px);
	background-image: -o-linear-gradient(#3399ff 30px, white 30px);
	background-image: -moz-linear-gradient(#3399ff 30px, white 30px);
	background-image: -webkit-linear-gradient(#3399ff 30px, white 30px);
	background-image: -ms-linear-gradient(#3399ff 30px, white 30px);
}

.results-course-lec-name {
	color: #eeeeee;
	margin-bottom: 8px;
	font-size: 110%;
	font-family: 'Roboto Slab' serif;
}

.results-course-lec-name:hover {
	cursor: pointer;
	color: #dddddd;
}

.results-course-lec-desc {
	margin-bottom: 5px;
}

.results-course-sections {
	border: 1px solid #3399ff;
	border-radius: 8px;
	padding: 5px;
}

.results-course-sections-col {
	display: inline-block;
	width: calc(20% - 2px);
	text-align: center;
	vertical-align: top;
}

.results-course-sections-col-header {
	margin-bottom: 5px;
}

.results-course-sections-sec {
	margin-bottom: 2px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 80%;
	border: 1px solid #dddddd;
	border-radius: 3px;
}

.results-course-sections-sec:hover {
	background-color: #eeeeee;
	cursor: pointer;
}
