body {
	margin: 0;
	width: 100%;
	height: 100%;
	position: relative;
	font-family: 'Roboto' sans-serif;
}

.advanced-search {
	/* Hide initially; display when 'Advanced Search' is clicked */
	display: none;
}

/* Horizontal rule */

.space {
	height: 6em;
}

/* Horizontal menu header */

.pure-menu-horizontal {
	font-family: 'Roboto Slab', serif;
	background-color: #00b85c;
	padding-bottom: 4px;
}

.pure-menu-link {
	color: #eeeeee;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* There's a little bit of an issue with the hover after one of the options has been selected */
.pure-menu-link:hover {
	cursor: pointer;
	background-color: #00a653;
}

.pure-menu-heading {
	text-transform: none;
	font-weight: bold;
	font-size: 130%;
	margin-left: 1em;
}

.pure-menu-heading:hover {
	color: #dddddd;
}

.pure-menu-heading:hover {
	background-color: inherit;
}

.pure-menu-list {
	float: right;
	margin-right: 1em;
	margin-top: 5px;
}

/* Dropdown log-in and sign-up menus */

.drop-down-form {
	position: fixed;
	top: 5em;
	right: 1.2em;
	padding: 30px;
	border-radius: 5px;
	font-size: 80%;
	background-color: #eeeeee;
	display: none;
}

.log-in-form .pure-control-group label {
	width: 58px;
}

.sign-up-form .pure-control-group label {
	width: 106px;
}

.log-in-form .pure-controls {
	margin-left: 75px;
	margin-top: 0px;
}

.submit-log-in {
	margin-top: 5px;
	font-family: 'Roboto Slab' serif;
	color: #eeeeee;
	background-color: #00b85c;
}

.sign-up-form .pure-controls {
	margin-left: 125px;
}

.submit-sign-up {
	font-family: 'Roboto Slab' serif;
	color: #eeeeee;
	background-color: #00b85c;
}

/* Course search form */

.pure-form legend {
	border-bottom: 1px solid #00a653;
}

legend.search-form-title {
	font-weight: bold;
	font-size: 120%;
}

.units-input {
	float: right;
}

/* Advanced search form */

.hide-advanced-search {
	float: left;
	border: 1px solid #00b85c;
	background-color: white;
}

.hide-advanced-search:hover {
	color: #00b85c;
	background-color: white;
	background-image: none
}

legend.advanced-form-title {
	font-weight: bold;
	font-size: 105%;
}

.hot-input {
	float: right;
}

/* Submit form */

.show-advanced-search {
	float: left;
	border: 1px solid #00b85c;
	background-color: white;
}

.show-advanced-search:hover {
	color: #00b85c;
	background-color: white;
	background-image: none;
}

.submit-search {
	float: right;
	font-family: 'Roboto Slab' serif;
	color: #eeeeee;
	background-color: #00b85c;
}

.submit-search:hover {
	background-color: #00a653;
}

/* Professor review table */

.professor-name {
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}
.user-name {
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	padding: 3px 0px 0px 0px;
}
.time {
	font-size: 100%;
	text-align: center;
	padding: 2px 0px 2px 0px;
}
.review{
	margin-top: 20px;	
}
.review-values {
	width: 100%;
}

.review-values tr td {
	padding-top: 10px;
	padding-bottom: 10px;
}

.review-values tr > :first-child {
	text-align: right;
}

.review-box{
	border: 1px solid #dddddd;	
}
.review-user-text{
	margin-left: 20px;
	margin-top: 30px;
}

.rating-input-text{
	width: calc(100% - 5px);	
	min-height: 122px;
}
.footer{
	display:inline;
}

