body {
	margin: 0;
        width: 100%;
        height: 100%;
        position: relative;
	font-family: "Comic Sans MS";
	background-color: #833019;
}
.float-container{
	overflow: auto;	
}
header{
	margin: auto;
	overflow:auto;
	#display:block;
	width: 100%;
	padding: 15px 0px 10px 0px;
}
div.sign_up{
	margin: 0px 0px 0px 10px;
	float:left;
}
div.log_in{
	margin: 0px 10px 0px 0px;
	float:right;
}
.title{
	clear:both;
	text-align: center;
}
.entry{
	display : block;
	width:50%;
	margin:auto;
	background-color:#8D441B;
	padding: 15px;
	overflow: auto;
}
.value-input{
	margin: 0px 15px 15px 0px;
	//might be cleaner to move this inside of the other class?
}
.input-holder-left{
	float:left;
}
.input-holder-right{
	float:right;	
}
.label{
	display:block;
}

button.advanced-search{
	float:left;
}
a.search{
	display:button;
	float:right;
}

.overall-ratings-table{
	width: 100%;
	border: 1px solid black;
}

tr, td {
	text-align: center;
}
tr{
	margin: 100px 0px 0px 0px;	
}



