
/* Professor review table */

.professor-name {
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}

.user-name {
	font-size: 130%;
	font-weight: bold;
	text-align: center;
	padding: 3px 0px 0px 0px;
}

.time {
	font-size: 100%;
	text-align: center;
	padding: 2px 0px 2px 0px;
}

.review{
	margin-top: 20px;
}

.review-input{
	margin-bottom: 100px
}

.review-values {
	width: 100%;
}

.review-values tr td {
	padding-top: 10px;
	padding-bottom: 10px;
}

.review-values tr > :first-child {
	text-align: right;
}

.review-box{
	border: 1px solid #dddddd;
}
.review-user-text{
	margin-left: 20px;
	margin-top: 30px;
}

.rating-input-text{
	width: calc(100% - 5px);
	min-height: 122px;
}

.footer{
	display:inline;
}

.review-button{
	margin: 5px 10px 5px 10px;
}
